.header {
    display: flex;
    padding: 0 1rem 0 2.5rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    height: 7rem;
    width: 100vw;
    background-color: #1F2C33;
}

.heading-title{
    color: #ADBAC1;
    font-size: 2.5rem;
    font-weight: 400;
}
    