.MessageCard{
    color: white;
    background-color: #1F2C33;
    border-radius: 10px;
    width: 50%;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
}

.MessageCard-sender > p{
    text-align: left;
    font-size: 1.2rem;
}

.MessageCard-amount > p{
    font-size: 3rem;
    padding: 1rem;
}

.MessageCard-status > p{
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: left;
}

.MessageCard-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}