.SplitBetweenProfiles{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    padding: 0 3rem;
    
}
.SplitBetweenProfiles-left{
    display: flex;
    align-items: center;
}

.SplitBetweenProfiles-left > *{
    padding: 0.7rem;
    font-size: 1.8rem;
}

.SplitBetweenProfiles-right{
    float: right;
}